h1{
	font-family: "Comic Sans MS";
	color:PowderBlue
}
table{
	font-family: "Comic Sans MS";
	border: 6px solid SlateBlue; border-style:groove
}
h2{
	font-family: "Comic Sans MS";
	color:Thistle
}
h3{
	font-family: "Comic Sans MS";
	color:Turquoise
}
h4{
	font-family: "Comic Sans MS";
	color:YellowGreen
}